*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --toggle-color: #FFD151;
    --searchbar-color: #FFFF;
    --body-color: #F1F1F1;
    --body-font-color: #7C7C7C;
    --head-sidebar-color: #8adbdc;
    --sidebar-font-color: #FFFF;
    --sidebar-button-hover-color: #FFFF;
    --sidebar-font-hover-color: #8adbdc;
    --product-item-color: #FFFF;
    --price-color: #8adbdc;
    --sun-moon-color: rgb(255, 230, 64);
    --switch-color: #FFFF;
    --dropdown-color: #ffffff;
    --category-color: #d3d3d3;
    --dropdown-font-color: #8adbdc;
    --apply-button-color: #8adbdc;
}

body.dark-theme{
    --toggle-color: #282828;
    --searchbar-color: #3d3d3d;
    --body-color: #3e3e3e;
    --body-font-color: #b4b4b4;
    --head-sidebar-color: #1f1f1f;
    --sidebar-font-color: #a4a4a4;
    --sidebar-button-hover-color: #5d5d5d;
    --sidebar-font-hover-color: #c0c0c0;
    --product-item-color: #757575;
    --price-color: #d1d1d1;
    --sun-moon-color: rgb(236, 236, 236);
    --switch-color: #414141;
    --dropdown-color: #525252;
    --category-color: #9b9b9b;
    --dropdown-font-color: #d0d0d0;
    --apply-button-color: #939393;
}

body{
    background: var(--body-color);
    transition: all 0.4s linear;
}

/* head */
.head{
    width: 100vw;
    height: 60px;
    background: var(--head-sidebar-color);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
}

.logo-img{
    width: 35px;
    height: 35px;
    margin-left: 20px;
    border-radius: 30px;
}

.brand-name{
    font-size: 26px;
    align-self: center;
    font-weight: bold;
    margin-left: 10px;
    color: white;
}

.search{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.magnifying-glass{
    position: absolute;
    z-index: 1;
    margin-left: -30.7%;
}

.search-bar{
    position: relative;
    width: 60%;
    height: 35px;
    border-radius: 10px;
    border: 0;
    padding-left: 5%;
    background: var(--searchbar-color);
    font-weight: bold;
}

.fa-filter{
    margin-left: 1%;
    padding: 10px;
    color: var(--sidebar-font-color);
    transition: all 0.2s ease;
    border-radius: 10px;
    position: relative;
}
.fa-filter:hover{
    background: var(--dropdown-color);
    color: var(--dropdown-font-color);

}
.fa-filter.active{
    border-radius: 10px 10px 0 0;
    background: var(--dropdown-color);
    color: var(--dropdown-font-color);
}

.dropdown{
    margin: 10px 0 0 -10px;
    position: absolute;
    width: 400px;
    background: var(--dropdown-color);
    border-radius: 0 10px 10px 10px;
    box-shadow: 3px 3px 3px rgb(202, 202, 202);
    transition: all 0.2s ease;
    display: none;
    opacity: 0;
}
.fa-filter:hover .dropdown{
    display: block;
}
.fa-filter.active .dropdown {
    display: block;
    opacity: 1;
}

.category-container{
    width: 360px;
    font-size: 20px;
    margin: 20px 0 20px 20px;
}

.line{
    width: 360px;
    border: #d2d2d2 0.5px solid;
    margin-top: 7px;
}

.category-list{
    list-style: none;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
}

.category{
    font-size: 15px;
    color: rgb(175, 175, 175);
    margin-top: 10px;
    padding: 10px;
    border: var(--category-color) solid;
    border-radius: 30px;
    cursor: pointer;
}
.category.active{
    background: var(--category-color);
    color: white;
}

.category + .category{
    margin-left: 40px;
}

.apply-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.apply-button{
    width: 110px;
    height: 40px;
    background: var(--apply-button-color);
    color: white;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.3s ease;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.apply-button:hover{
    background: var(--dropdown-color);
    color: var(--sidebar-font-hover-color);
    border: var(--apply-button-color) 5px solid;
}

.notification-and-avatar{
    display: flex;
    margin-right: 3%;
    width: 10%;
    justify-content: flex-end;
    align-items: center;
}

.notification{
    margin-right: 30%;
    font-size: 20px;
    color: white;
}

.avatar{
    padding: 5px;
    font-size: 20px;
    color: gray;
    background: white;
    border-radius: 30px;
}

.sidebar-and-body{
    width: 100vw;
    display: flex;
}

/* side-bar */
.sidebar{
    margin-top: 60px;
    width: 220px;
    height: 100vh;
    background: var(--head-sidebar-color);
    position: relative;
    position: fixed;
    display: flex;
    transition: width 0.3s ease;
}
.sidebar.close{
    width: 97.5px;
}

.toggle-container{
    margin-left: 220px;
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: var(--toggle-color);
    border-radius: 0 20px 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: margin-left 0.3s ease;
}
.sidebar.close .toggle-container{
    margin-left: 97.5px;
}

.toggle{
    color: var(--sidebar-font-color);
    font-size: 20px;
    transition: transform 0.3s ease;
}
.sidebar.close .toggle{
    transform: rotate(180deg);
}

.menu{
    width: 100%;
    padding: 0;
}

.menu-item{
    width: 180px;
    height: 50px;
    list-style: none;
    margin-top: 25px;
    margin-left: 20px
}

.menu-item.first{
    margin-top: 30px
}

.menu .menu-item:nth-child(3) .menu-button{
    background: var(--sidebar-button-hover-color);
    transition: all 0.3s ease;
}

.menu .menu-item:nth-child(3) .menu-button .menu-icon,
.menu .menu-item:nth-child(3) .menu-button .menu-name{
    color: var(--sidebar-font-hover-color);
}

.menu-item.last{
    margin-top: 100px;
}

.menu-button{
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 15px;
    transition: all 0.3s ease;
}
.sidebar.close .menu-button{
    width: 54px;
}

.menu-icon{
    font-size: 20px;
    width: 50px;
    color: var(--sidebar-font-color);
    transition: color 0.3s ease;
}

.menu-name{
    font-weight: bold;
    color: var(--sidebar-font-color);
    transition: all 0.3s ease;
}
.sidebar.close .menu-name{
    font-size: 0;
}

.menu-item .menu-button:hover{
    background: var(--sidebar-button-hover-color);
}

.menu-item .menu-button:hover .menu-name,
.menu-item .menu-button:hover .menu-icon{
    color: var(--sidebar-font-hover-color);
}

.quantity-container{
    position: absolute;
    height: 20px;
    width: 20px;
    background: rgb(255, 73, 73);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(15px, -15px);
}

.quantity-container span{
    font-weight: bold;
    color: white;
    font-size: 12px;
}

.light-dark-theme{
    width: 180px;
    height: 55px;
    margin-top: 22px;
    margin-left: 20px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}
.sidebar.close .light-dark-theme{
    width: 70px;
    margin-left: 10px;
}

.theme-mode-name{
    margin-left: 15px;
    color: var(--sidebar-font-color);
    font-weight: bold;
    font-size: 16px;
    transition: font-size 0.3s ease;
}
.sidebar.close .theme-mode-name{
    font-size: 0;
}

.switch{
    height: 25px;
    width: 50px;
    background: var(--switch-color);
    border-radius: 30px;
    position: relative;
    display: flex;
    align-items: center;
    transition: margin-left 0.3s ease;
}

.sun{
    position: absolute;
    height: 17px;
    width: 17px;
    border-radius: 30px;
    margin-left: 4px;
    background: var(--sun-moon-color);
    transition: all 0.3s ease;
}

body.dark-theme .fa-moon{
    position: absolute;
    font-size: 17px;
    margin-left: 30px;
    color: var(--sun-moon-color);
    transition: all 0.3s ease;
}

.sidebar.close .fa-moon{
    margin-left: 20px;
}

.sun.animated, .fa-moon.animated{
    animation: spin360 0.3s ease;
}

@keyframes spin360{
    100%{
      transform: rotate(360deg);
    }
}
  
/* body */
.body{
    height: calc(100vh - 60px);
    margin-top: 60px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
}

.container{
    width: 90%;
    margin-top: 40px;
}

.products-table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px rgb(202, 202, 202);
    background: #FFFF;
    overflow: hidden;
    margin-top: 20px;
}

th{
    padding: 5px;
    height: 40px;
    background: rgb(191, 202, 200);
}

td{
    padding: 5px;
    height: 70px;
    text-align: center;
}

td a{
    text-decoration: none;
    color: black;
}

.image{
    width: 15%;
}

.name{
    width: 35%;
}

.quantity{
    width: 10%;
}

.remove{
    width: 7%;
}

.image img{
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

tr:nth-child(even){
    background: rgb(240, 240, 240);
}

.remove-button{
    border: none;
    background: rgb(254, 62, 62);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-button i{
    color: white;
}

.quantity div{
    margin-top: 0;
    width: 100%;
    display: flex; 
    justify-content: center;
}

.adjust-quantity-container{
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
}

.adjust-quantity-container span{
    width: 100%;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.number{
    width: 100%;
    text-align: center;
    background: none;
    border: none;
}

.number:focus{
    outline: none;
}

.total-price-and-pay-container{
    width: 100%;
    margin-top: 60px;
    
}

.total-price1{
    font-weight: bold;
    font-size: 20px;
}

.total-price2{
    font-weight: bold;
    font-size: 20px;
    color: rgb(252, 90, 62);
}

.pay-button{
    text-decoration: none;
    margin-top: 20px;
    height: 60px;
    width: 250px;
    border: none;
    cursor: pointer;
    background: var(--apply-button-color);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pay-button span{
    color: white;
    font-weight: bold;
    font-size: 18px;
}